<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Couchbase.Lite" version="1.0.4.1" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.ugly" version="0.7.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid23" />
  <package id="Xamarin.Auth" version="0.0.2-alpha" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms" version="1.4.4.6392" targetFramework="MonoAndroid44" />
</packages>